In [ ]:
# Pandas-:
# DATAFRAME- tabular
# SERIES- one column

In [ ]:
import pandas as pd
mydataset = {'cars':['BMW','Volvo','Ford'],'passings':[3,7,2]}
mydataset

{'cars': ['BMW', 'Volvo', 'Ford'], 'passings': [3, 7, 2]}

In [ ]:
df=pd.DataFrame(mydataset)
df

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
# similarly
li=[5,6,7,8]
se=pd.Series(li)
se

0    5
1    6
2    7
3    8
dtype: int64

In [ ]:
# Customizing the index
se1=pd.Series(li, index=['five','six','seven','eight'])
se1

five     5
six      6
seven    7
eight    8
dtype: int64

In [ ]:
import numpy as np
df = pd.DataFrame({'Cricket':[1,2,np.nan,4,6,7,2,np.nan],
                   'BaseBall':[5,np.nan,np.nan,5,7,2,4,5],
                   'Tennis':[1,2,3,4,5,6,7,8]})
df
# NaN - Not a Number/null value/missing data
# When ever we get NaN,int gets converted to float

   Cricket  BaseBall  Tennis
0      1.0       5.0       1
1      2.0       NaN       2
2      NaN       NaN       3
3      4.0       5.0       4
4      6.0       7.0       5
5      7.0       2.0       6
6      2.0       4.0       7
7      NaN       5.0       8

In [ ]:
#drop all the null values
df.dropna()

   Cricket  BaseBall  Tennis
0      1.0       5.0       1
3      4.0       5.0       4
4      6.0       7.0       5
5      7.0       2.0       6
6      2.0       4.0       7

In [ ]:
#replace all the NaN values with zero
df = df.fillna(value = 0)
df

   Cricket  BaseBall  Tennis
0      1.0       5.0       1
1      2.0       0.0       2
2      0.0       0.0       3
3      4.0       5.0       4
4      6.0       7.0       5
5      7.0       2.0       6
6      2.0       4.0       7
7      0.0       5.0       8

In [ ]:
df= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Rinex notebooks/Social_Network_Ads.csv')

In [ ]:
df.head()     # Displays first 5 rows

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df.size     # Total number of elements

2000

In [ ]:
df.info()   # information about dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [ ]:
df.columns   # To access all the columns of dataset

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [ ]:
df.describe()  # calcualte various parameters for each column.

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [ ]:
df.nunique()   # To know number of unique elements in each column

User ID            400
Gender               2
Age                 43
EstimatedSalary    117
Purchased            2
dtype: int64

In [ ]:
df.isnull()   # To know the null values

     User ID  Gender    Age  EstimatedSalary  Purchased
0      False   False  False            False      False
1      False   False  False            False      False
2      False   False  False            False      False
3      False   False  False            False      False
4      False   False  False            False      False
..       ...     ...    ...              ...        ...
395    False   False  False            False      False
396    False   False  False            False      False
397    False   False  False            False      False
398    False   False  False            False      False
399    False   False  False            False      False

[400 rows x 5 columns]

In [ ]:
df.isnull().sum()   # sum of all null values in each column

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [3]:
import seaborn as sns
import pandas as pd
import numpy as np
df= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ML notebooks/train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
# Important, using both numpy and dataframe
f1= np.sum((df['Sex']=='female')&(df['Survived']==1))
f0= np.sum((df['Sex']=='female')&(df['Survived']==0))
m1= np.sum((df['Sex']=='male')&(df['Survived']==1))
m0= np.sum((df['Sex']=='male')&(df['Survived']==0))
print(f1)
print(f0)
print(m1)
print(m0)

233
81
109
468

In [5]:
np.max(df['Age'])

80.0

In [6]:
np.min(df['Age'])

0.42